#main{
    display: block;
    background:#799;
    border: 0px solid;
    border-radius: 10px;
    font-family: Century;
    margin: 10px;
    padding:25px;
    font-size: 1.2em;
  
  }
  h3{
    text-align: left;
  }
  h4{color: #555}
  header{
    text-align: center;
    font-size: 150%;
    padding: 10px;
    
  }
  #img-div{
    display: block;
    background: #bbb;
    margin:-5px;
    margin-top: 20px;
    border: 10px solid white;
    border: 0px solid;
    border-radius: 10px;
  }
  #img-caption{
    text-align:center;
    font-size: 25px;
    color: #444;
    padding: 10px;
  }
  #image{
    max-width: 90%;
      display: block;
      height: auto;
      margin: auto ;
    margin-top: 29px;
    border:1px solid;
    border-radius: 10px;
  }
  p{
    padding:1px;
  }
  ul{
    max-width: 500px;
    text-align:left;
    margin:0 auto;
  }
  li{
    margin: 10px;
  }
  #tribute-info{
    color: #333;
   text-align: center;
   margin: 35px auto;;
    
  }
  footer{
     
    font-size: 20px;
    text-align: center;
  }